<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>

    <meta name="keywords" content="panduan, data science" />
    <meta name="description" content="Panduan memulai karir di data science" />
    <meta name="subject" content="data science">
    <meta name="copyright" content="Bayu Aldi Yansyah">
    <meta name="language" content="ID">
    <meta name="robots" content="index,follow" />
    <meta name="summary" content="Panduan memulai karir di data science">
    <meta name="author" content="Bayu Aldi Yansyah, bay@machinelearning.id">
    <meta name="reply-to" content="bay@machinelearning.id">
    <meta name="owner" content="Bayu Aldi Yansyah">
    <meta name="url" content="https://panduan.datascience.id">
    <meta name="identifier-URL" content="https://panduan.datascience.id">
    <meta name="revisit-after" content="7 days">

    <link rel="icon" href="/favicon.ico">

    <meta name="og:title" content="Panduan Memulai Karir di Data Science" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://panduan.datascience.id" />
    <meta name="og:image" content="/assets/panduan-memulai-karir-di-data-science-1.png" />
    <meta name="og:site_name" content="Data Science Indonesia" />
    <meta name="og:description" content="Panduan memulai karir di data science" />
    <meta name="og:email" content="bay@machinelearning.id" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bayualsyah" />
    <meta name="twitter:creator" content="@bayualsyah" />

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="/css/panduan.css" />
</head>

<body class="valera-round">
    <div class="mw8 center ph3-ns">
        <div class="cf">
            <div class="fl w-100 pa3">
                {{content}}
            </div>
        </div>
    </div>
</body>

</html>