<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>

    <meta name="keywords" content="panduan, data science" />
    <meta name="description" content="Bagaimana cara memulai karir di data science? Ini merupakan panduan
    untuk teman-teman yang ingin memulai karir di data science." />
    <meta name="subject" content="data science">
    <meta name="copyright" content="Bayu Aldi Yansyah">
    <meta name="language" content="ID">
    <meta name="robots" content="index,follow" />
    <meta name="summary" content="Bagaimana cara memulai karir di data science? Ini merupakan panduan
    untuk teman-teman yang ingin memulai karir di data science.">
    <meta name="author" content="Bayu Aldi Yansyah, bay@machinelearning.id">
    <meta name="reply-to" content="bay@machinelearning.id">
    <meta name="owner" content="Bayu Aldi Yansyah">
    <meta name="url" content="https://panduan.datascience.id">
    <meta name="identifier-URL" content="https://panduan.datascience.id">
    <meta name="revisit-after" content="7 days">

    <link rel="icon" href="/favicon.ico">

    <meta name="og:title" content="Panduan Memulai Karir di Data Science" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://panduan.datascience.id" />
    <meta name="og:image" content="https://panduan.datascience.id/assets/panduan-memulai-karir-di-data-science-1.png" />
    <meta name="og:site_name" content="Data Science Indonesia" />
    <meta name="og:description" content="Bagaimana cara memulai karir di data science? Ini merupakan panduan
    untuk teman-teman yang ingin memulai karir di data science." />
    <meta name="og:email" content="bay@machinelearning.id" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@bayualsyah" />
    <meta name="twitter:creator" content="@bayualsyah" />
    <link rel="me" href="https://twitter.com/bayualsyah">

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="/css/panduan.css" />

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body class="valera-round" style="line-height: 1.5;">
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <script>window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>
    <div class="mw8 center ph3-ns">
        <div class="cf">
            <div class="fl w-100 pa3">
                {{content}}
            </div>
        </div>
    </div>
</body>

</html>